:root {
    --company-color: #2196F3;
    --black: #000000;
    --white: #FFFFFF;
    --background-color: #2F303A;
    --background-color_light: #F5F4FA;
    --text-color: #757575;
    --text-titles-color: #212121;
    --border-color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header styles */

.header {
    color: var(--white);
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 117.38%;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.web {
    color: var(--company-color);
}

.studio {
    color: var(--black);
}

.link {
    font-size: 14px;
    font-weight: 500;
    line-height: 117.21%;
    color: var(--text-color);
    text-decoration: none;
    font-style: normal;
}

.link:hover {
    color: var(--company-color);
}

.header-container,
.header-navigation,
.header-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigation-link {
    color: var(--black);
    padding: 32px 0;
    
}

/* Footer styles */

.footer {
    background-color: var(--background-color);
    height: 251px;
}

.footer-logo {
    margin-top: 60px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-address {
    line-height: 114.29%;
    letter-spacing: 0.03em;
    
    color: var(--white);
}

.studio-footer {
    color: var(--white);
}

.contact-info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Company page styles */

.overview {
    background-color: var(--background-color);
    padding-bottom: 280px;
    padding-top: 200px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.overview-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136.364%;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    width: 696px;
}

.overview-button {
    height: 50px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    border: none;
    line-height: 187.5%;
    background-color: var(--company-color);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}

.overview-button:hover {
    width: 216px;
    left: 692px;
    transition: 0.5s;
}

.services-list {
    display: flex;
    padding-top: 94px;
    gap: 30px;
}

.services-card-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 117.214%;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-titles-color);
}

.services-card-description {
    font-size: 14px;
    line-height: 171.429%;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-color);
}

.works-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.works-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 117.194%;
    letter-spacing: 0.03em;
    text-align: center;
}

.team {
    background-color: var(--background-color_light);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 117.194%;
    text-align: center;
}

.team-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-card-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 118.75%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-titles-color);
}

.team-card-role {
    font-size: 16px;
    line-height: 118.75%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
}

/* Portfolio page styles */

.filters-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.filters-button {
    border-radius: 4px;
    border: none;
    background: var(--background-color_light);
    color: var(--text-titles-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 162.5%;
    text-align: center;
    cursor: pointer;

    padding: 6px 22px 6px 22px;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.filters-button:hover {
    color: var(--white);
    background-color: var(--company-color);
}

.portfolio-card {
    background-color: var(--white);
    border: 1px solid #eeeeee;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 60px) / 3);
}

.portfolio-list {
    padding-inline-start: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card-description {
    margin: 20px 24px;
}

.portfolio-card-project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--text-titles-color);
    
}

.portfolio-card-project-type {
    font-size: 16px;
    line-height: 187.5%;
    color: var(--text-color);
}